.profile {
  // height: 100vh; /* Ensure the profile component takes the full viewport height */
  display: flex;
  flex-direction: column;

  .left-side {
    height: calc(100vh - 80px); /* Adjust this value if needed to account for margins/paddings */
    overflow-y: auto;
    padding-right: 10px; /* Provide some space for hidden scrollbar */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  }

  .left-side::-webkit-scrollbar {
    width: 0; 
  }

  .profile-card {
    text-align: center;
    .followenum {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
    }
  }

  .content {
    img {
      max-width: 100%;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}
